@import 'styles/colors.scss';

.About {
  position: relative;
  text-align: center;
  overflow: hidden;
  img {
    height: auto;
    width: 100%;
  }
  .about-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15%;
    @media screen and (max-width: 500px) {
      padding: 0 5px;
    }
    @media screen and (max-width: 800px) {
      padding: 0 8%;
    }
  }
  .mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: $main-color;
    opacity: 0.5;
  }
  h1 {
    text-transform: uppercase;
  }
  p {
    padding: 0 10px;
    text-align: left;
  }
}