@import 'styles/colors.scss';

.Contact {
  text-align: center;
  height: 435px;
  background-color: $main-color;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin: 20px;
  }
}