.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 4px;
  .purple_bar {
    margin: 15px;
    height: 15px;
    width: 100px;
    background-color: purple;
    flex-grow: 1;
  }
  .header-title {
    margin: 0 5%;
  }
}