@import 'styles/colors.scss';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 4px;
  .purple_bar {
    margin: 15px;
    height: 15px;
    width: 100px;
    background-color: $main-color;
    flex-grow: 1;
    border-radius: 20px;
  }
  .header-title {
    margin: 0 5%;
  }
}