$breakpoint: 600px;
$height: 160px;

.Navbar {
  height: $height;
  overflow: hidden;
  transition: all .3s;
  padding: 0 60px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;

  .icon {
    display: none;
  }

  .home-brand {
    float: left;
    img {
      border-radius: 100%;
      height: $height * 3 / 4;
      transition: all 1s;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    line-height: $height;
    float: right;
    padding: 0 16px;
    font-size: 28px;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: $breakpoint) {
    li {
      float: none;
      display: block;
      a {
        text-align: left;
      }
    }
    .icon {
      position: absolute;
      right: 0;
      top: 0;

    }
    #toggle {
      float: right;
      .icon {
        display: block
      }
    }
    &.navcollapse {
      height: 104px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.5), transparent);
  transition: background 1s;
  img {
    transform: rotate(45deg);
  }
}

// Affects content class in the Home Container
.sticky + .content {
  padding-top: 52px;
}
