$breakpoint3: 450px;
$breakpoint2: 600px;
$breakpoint1: 800px;
$height: 100px;
$short-height: 90px;
$brand-rotate: 30deg;
$gradient: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.5), transparent);



.Navbar {
  height: $height;
  transition: all .3s;
  padding: 0 60px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;

  .home-brand {
    float: left;
    img {
      border-radius: 100%;
      height: $height * 3 / 4;
      transition: all .3s;
      &:hover {
        transform: rotate($brand-rotate);
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    transition: all .3s;
    line-height: $height;
    float: right;
    font-size: 28px;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  .link {
    padding: 0 16px;
  }

  @media screen and (max-width: $breakpoint1) {
    .link {
      font-size: 24px;
    }
    .home-brand img {
      height: $height / 2;
    }
  }

  @media screen and (max-width: $breakpoint2) {
    padding: 0 20px;
    .link {
      font-size: 20px;
      padding: 0 8px;
    }
    .home-brand img {
      height: 55px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  background: $gradient;
  transition: background 1s;
}

// Affects content class in the Home Container
.sticky + .content {
  padding-top: 52px;
}
