@import 'styles/colors.scss';

$breakpoint3: 450px;
$breakpoint2: 600px;
$breakpoint1: 800px;
$height: 100px;
$short-height: 90px;
$brand-rotate: 30deg;
$gradient: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.5), transparent);

.Navbar.sticky:before {
  opacity: 1;

}


.Navbar {
  height: $height;
  transition: all .3s;
  padding: 0 60px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;

  &:before {
    z-index: -1;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: $gradient;
    transition: .2s opacity;
    opacity: 0;
  }

  .home-brand {
    float: left;
    img {
      border-radius: 100%;
      height: $height * 3 / 4;
      transition: all .3s;
      &:hover {
        transform: rotate($brand-rotate);
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    transition: all .3s;
    line-height: $height;
    float: right;
    font-size: 28px;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  .link {
    padding: 0 16px;
    position: relative;
    transition: all 1s;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 4px;
      background: white;
      transform: translateY(-20px);
      transition: all .2s;
      margin: auto;
      border-radius: 10px;
    }
    @media (hover:hover) {
      &:hover:after {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $breakpoint1) {
    .link {
      font-size: 24px;
    }
    .home-brand img {
      height: $height / 2;
    }
  }

  @media screen and (max-width: $breakpoint2) {
    padding: 0 20px;
    .link {
      font-size: 20px;
      padding: 0 8px;
    }
    .home-brand img {
      height: 55px;
    }
  }
}

.source-button {
  display: block;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    color: white;
  }
  &:focus {
    outline: 0;
  }
  transition: all .2s;
  border: 2px solid white;
  color: white;
  background: $main-color;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 2px;
  position: fixed;
  bottom: 10px;
  right: -50px;
  transform: translateX(100%);
  padding: 10px 20px;
  font-size: 10px;
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  .source-button {
    right: 10px;
    transform: translateX(0);
  }
}

// Affects content class in the Home Container
.sticky + .content {
  padding-top: 52px;
}
