$breakpoint2: 600px;
$breakpoint1: 800px;
$height: 160px;
$short-height: 100px;
$brand-rotate: 30deg;
$gradient: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.5), transparent);



.Navbar {
  height: $height;
  overflow: hidden;
  transition: all .3s;
  padding: 0 60px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;

  .icon {
    display: none;
  }

  .home-brand {
    float: left;
    img {
      border-radius: 100%;
      height: $height * 3 / 4;
      transition: all .3s;
      &:hover {
        transform: rotate($brand-rotate);
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    transition: all .2s;
    line-height: $height;
    float: right;
    font-size: 28px;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  .link {
    padding: 0 16px;
  }

  @media screen and (max-width: $breakpoint1) {
    li {
      font-size: 20px;
    }
    .home-brand img {
      height: $height / 2;
    }
  }

  @media screen and (max-width: $breakpoint2) {
    top: 0;
    bottom: unset;
    padding: 0 30px;
    background: transparent !important;
    height: $short-height;
    position: fixed;
    li {
      line-height: $short-height;
    }
    .link {
      display: none;
    }
    #toggle {
      float: right;
      .icon {
        display: block
      }
    }
    &.navcollapse {
      height: 104px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: $gradient;
  transition: background 1s;
  //img {
  //  transform: rotate($brand-rotate);
  //}
}

// Affects content class in the Home Container
.sticky + .content {
  padding-top: 52px;
}
