body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif !important;
  color: white;
  background-position-x: 70%;
  background-attachment: fixed;
  background-image: url("~assets/clouds.jpg");
  background-size: cover;
}

p {
  font-size: 18px;
}


.highlight {
  color: #E73C7E;
}