body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  color: white;
  background: url("~assets/clouds.jpg") no-repeat fixed right top;
}


.highlight {
  color: #E73C7E;
}