.Banner {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner-content {
    max-width: 800px;
  }
  .banner-title {
    letter-spacing: 3px;
    font-size: 100px;
  }
}