.Banner {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-content {
    width: 800px;
    padding: 20px;
  }
  .banner-title {
    letter-spacing: 3px;
    font-size: 100px;
    @media screen and (max-width: 470px) {
      font-size: 80px;
    }
  }
  .signature > * {
    stroke-dasharray: 1600;
    stroke-dashoffset: 1600;
  }

  #Path {
    animation: forwards dash-first ease-in 5s;
  }
  #Path-2 {
    animation: forwards dash-second ease-out 5s;
  }
  #animated:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 470px) {
    h3 {
      padding: 0 10px;
      font-size: 1.5rem;
    }
  }

}

@keyframes dash-first {
  40% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-second {
  40% {
    stroke-dashoffset: 1600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

