.Banner {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner-content {
    max-width: 800px;
  }
  .banner-title {
    letter-spacing: 3px;
    font-size: 100px;
    @media screen and (max-width: 470px) {
      font-size: 80px;
    }
  }
  @media screen and (max-width: 470px) {
    h3 {
      padding: 0 10px;
      font-size: 1.5rem;
    }
  }

}

.particles-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.signature > * {
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
}

#Path {
  animation: forwards dash-first ease-in 5s;
}
#Path-2 {
  animation: forwards dash-second ease-out 5s;
}

@keyframes dash-first {
  40% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-second {
  40% {
    stroke-dashoffset: 1600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#animated:hover {
  cursor: pointer;
}