.Banner {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner-content {
    max-width: 800px;
  }
  .banner-title {
    letter-spacing: 3px;
    font-size: 100px;
    @media screen and (max-width: 470px) {
      font-size: 80px;
    }
  }
  @media screen and (max-width: 470px) {
    h3 {
      padding: 0 10px;
      font-size: 1.5rem;
    }
  }

}